- @user.errors.full_messages.uniq.each do |msg|
  .alert.alert-danger.fade.in
    = msg
    .close{ data: {dismiss: "alert" }} &times;

= form_for @user, html: { class: 'form width-400' } do |f|
  %fieldset
    %legend= @user.persisted? ? t(:edit_user) : t(:create_user)
    .form-group
      = f.label :name, t(:name)
      = f.text_field :name, placeholder: t(:name), class: 'form-control'
    .form-group
      = f.label :email, t(:email)
      = f.text_field :email, placeholder: t(:email), class: 'form-control'
    .form-group
      = f.label :phone, t(:phone)
      = f.text_field :phone, placeholder: t(:phone), class: 'form-control'
    .form-group
      = f.label :password, t(:password)
      = f.password_field :password, placeholder: t(:password), class: 'form-control'
    .form-group
      = f.label :password_confirmation, t(:password_confirmation)
      = f.password_field :password_confirmation, placeholder: t(:password_confirmation), class: 'form-control'
    .form-group
      = f.label :place, t(:place, count: 1)
      = f.select :place_id, Place.all.map{|x| [x.name, x.id]}, {}, class: 'form-control'

    = f.submit @user.persisted? ? t(:edit_user) : t(:create_user) , class: 'btn btn-success'

:javascript
  $('.nav li').removeClass('active');
  $('#nav-users').addClass('active');
