%table.table.table-hover
  %tr
    %th= t(:name)
    %th= t(:email)
    %th= t(:phone)
    %th= t(:address)
    %th
    %th

  - @places.each do |place|
    %tr
      %td= link_to place.name, place_path(place)
      %td= place.email
      %td= place.phone
      %td= place.address
      %td= link_to t(:edit), edit_place_path(place), class: 'btn btn-default btn-sm'
      %td= link_to t(:delete), place, method: :delete, confirm: t(:sure), class: 'btn btn-danger btn-sm'

= link_to t(:new_place), new_place_path, class: 'btn btn-success'

:javascript
  $('.nav li').removeClass('active');
  $('#nav-places').addClass('active');
