%ul.list-group.width-400
  %li.list-group-item= link_to @place.name, "http://#{@place.url}", target: '_blank'
  %li.list-group-item= @place.email
  %li.list-group-item= @place.phone
  %li.list-group-item= @place.address

= link_to t(:place, count: 2), places_path, class: 'btn btn-primary'
- if current_user
  = link_to t(:edit_place), edit_place_path(@place), class: 'btn btn-primary'