%nav.navbar.navbar-inverse.navbar-static-top
  .navbar-header
    %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
      %span.sr-only= t(:toggle_navigation)
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Tablefinder', root_path, class: 'navbar-brand'

  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li#nav-places= link_to t(:places), places_path
      %li#nav-users= link_to t(:users), users_path
    - if session[:user_id]
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t(:logout), logout_path, method: :delete